#
# Set a "catch-all" owner. Should be set to the current active admin for the repo.
* @kcantrel
#
# Set the owner for all the individual samples, if the owner is known and they want to continue to maintain the sample:
/Samples/AI/GenAI-ChatBot-application-sample/ @cbenbass
/Samples/Automation/CloudFormation/Deploy-FSx-ONTAP/ @kcantrel
/Samples/Automation/Ansible/FSxN-Inventory-Report/ @kcantrel
/Samples/Automation/Ansible/SnapMirror-Report/ @kcantrel
/Samples/EKS/EKS-logs-to-ELK/ @liron-bar-mashiah
/EKS/FSxN-as-PVC-for-EKS EKS/FSxN-as-PVC-for-EKS/ @mickeysh
/EKS/Backup-EKS-Applications-with-Trident-Protect EKS/Backup-EKS-Applications-with-Trident-Protect/ @kcantrel
/EKS/PV-Migrate-with-Trident-Protect EKS/PV-Migrate-with-Trident-Protect/ @kcantrel
/Samples/Management-Utilities/Auto-Create-SM-Relationships/ @kcantrel
/Samples/Management-Utilities/Auto-Set-Auto-Size-Mode/ @kcantrel
/Samples/Management-Utilities/FSx-ONTAP-AWS-CLI-Scripts/ @kcantrel
/Samples/Management-Utilities/FSx-ONTAP-Rotate-Secret/ @kcantrel
/Samples/Management-Utilities/Warm-Performance-Tier/ @kcantrel
/Monitoring/CloudWatch-FSx/ @LirazRom10
/Monitoring/Grafana/Monitor-FSxN-with-Harvest-on-EC2/ @LirazRom10
/Monitoring/Grafana/Monitor-FSxN-with-Harvest-on-EKS/ @LirazRom10
/Monitoring/Ingest-NAS-Audit-Logs-into-CloudWatch/ @kcantrel
/Samples/Monitoring/Auto-Add-CloudWatch-Alarms/ @kcantrel
/Samples/Monitoring/Monitor-FSx-ONTAP-Services/ @kcantrel
/Terraform/deploy-fsx-ontap-sqlserver/ @varunrai
/Samples/Automation/Terraform/Deploy-FSx-ONTAP-Fileshare-Access/ @varunrai
/Samples/Automation/Terraform/Deploy-FSx-ONTAP/ @kcantrel
/Samples/Automation/Terraform/FSx-ONTAP-Replicate/ @nichollri
